- content_for(:title, t(".title"))

.content.form-content
  .container-fluid
    .row
      .col-lg-6.offset-lg-3
        .frame-light
          .frame-wrap
            %header
              %h1= t(".header")

            = form_with model: resource, url: confirmation_path(resource_name), method: :post, local: true do |f|
              = render "devise/shared/error_messages"
              .form-group
                = f.label :email
                = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control form-control-lg'
              .actions
                = f.submit t(".submit"), class: 'btn btn-primary btn-lg btn-block'
            = render "devise/shared/links"
