%h2
  = t(".header", resource: resource_name.to_s.humanize)
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      = t(".pending_reconfirmation", email: resource.unconfirmed_email)
  .field
    = f.label :password
    %i= t(".new_password.leave_blank")
    %br/
    = f.password_field :password, autocomplete: "off"
    - if @minimum_password_length
      %br/
      %em
        = t(".new_password.minimum_length", length: @minimum_password_length)
  .field
    = f.label :current_password
    %i= t(".current_password_help")
    %br/
    = f.password_field :current_password, autocomplete: "off"
  .actions
    = f.submit t(".submit")
= link_to "Back", :back
