- content_for(:title, t(".title"))

.content.form-content
  .container-fluid
    .row
      .col-lg-6.offset-lg-3
        .frame-light
          .frame-wrap
            %header
              %h1
                = t(".header")

            = form_with model: resource, url: registration_path(resource_name), method: :put, local: true do |f|
              = devise_error_messages!
              .form-group
                = f.label :email
                = f.email_field :email, autofocus: true, autocomplete: 'email', id: "#{resource_name}_email", class: 'form-control form-control-lg'
              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                %div
                  = t(".pending_reconfirmation", email: resource.unconfirmed_email)
              .form-group
                = f.label :password
                %i= t(".new_password.leave_blank")
                = f.password_field :password, autocomplete: "new-password", id: "#{resource_name}_password", class: 'form-control form-control-lg'
                - if @minimum_password_length
                  %em
                    = t(".new_password.minimum_length", length: @minimum_password_length)
              .form-group
                = f.label :current_password
                %i= t(".current_password_help")
                = f.password_field :current_password, autocomplete: "current-password", id: "#{resource_name}_current_password", class: 'form-control form-control-lg'
              .actions
                = f.submit t(".submit"), class: 'btn btn-primary btn-lg btn-block'
