.content.page-content
  .container-fluid
    .row
      .col-lg-8
        .page-header
          %h1= t('.title')
        .page-text
          - @data_sources.each do |id, data_source|
            %h2= sanitize data_source[:name]
            = sanitize data_source[:overview].split(/\n{2,}/).first
            = link_to 'Read more', "data_sources/#{id}", class: 'btn btn-primary'
