- content_for(:title, @data_source.name)

.content.page-content
  .container-fluid
    .row
      .col-lg-8
        .page-header
          %h1
            = @data_source.name
        .page-text
          - if @overview_html.present?
            .data-source-content
              %h2
                = t('.overview_title')
              = sanitize @overview_html
          - if @data_availability_html.present?
            .data-source-content
              %h2
                = t('.data_availability_title')
              = sanitize @data_availability_html

      .col-lg-4
        - if @data_source.url.present?
          .frame-light.meta
            .frame-wrap
              %h6
                = t('.links_title')
              %p
                = link_to(t('.source_url_link'), @data_source.url, class: 'external', target: '_blank', rel: 'noopener')
