- ended_date = relationship.ended_date

.item{ class: ('ended' if ended_date) }
  = render partial: 'shared/entity_title', locals: { entity: relationship.source }

  = link_to entity_relationship_path(relationship.target&.id, relationship.source&.id), class: 'relationship-link' do
    - if relationship.intermediate_entities.any?
      %span.via
        = t(".controls_via")
        - if relationship.source.legal_entity?
          = relationship.source.name
          = country_flag(relationship.source.country)
          &rarr;
        - relationship.intermediate_entities.each do |entity|
          = entity.name
          = country_flag(entity.country)
          &rarr;
        %span.target
          = @sentity.name
        = country_flag(@sentity.country)
        - if relationship.is_indirect
          .indirect
            = t("shared.relationship_interests.also_indirect")
        - if ended_date
          .ended_date
            = t("shared.relationship_interests.ended", date: ended_date)
    - else
      = render partial: 'shared/relationship_interests', locals: { relationship: relationship }
    %span.details
      = t(".details")
