- first_ended_relationship_in_chain = relationship.first_ended_relationship_in_chain

.item{ class: ('ended' if first_ended_relationship_in_chain) }
  = render partial: 'shared/entity_title', locals: { entity: relationship.source }

  = link_to entity_relationship_path(relationship.target, relationship.source), class: 'relationship-link' do
    - if relationship.intermediate_entities.any?
      %span.via
        = t(".controls_via")
        - if relationship.source.legal_entity?
          = relationship.source.name
          = country_flag(relationship.source.country)
          &rarr;
        - relationship.intermediate_entities.each do |entity|
          = entity.name
          = country_flag(entity.country)
          &rarr;
        %span.target
          = @entity.name
        = country_flag(@entity.country)
    - else
      = render partial: 'shared/relationship_interests', locals: { relationship: relationship }
    %span.details
      = t(".details")

  - if first_ended_relationship_in_chain
    .ended_date
      = t("shared.relationship_ended", date: first_ended_relationship_in_chain.ended_date)
