= render partial: 'shared/search_bar'

.content
  .container-fluid
    .entity-header
      .row
        .col-lg-12
          %h1.entity-name= @entity.name
      .row
        .col-lg-12
          .meta-jurisdiction
            - if @entity.natural_person?
              - @entity.country.try(:nationality).try do |nationality|
                Nationality
                = entity_country_flag(@entity)
                %b= nationality
              - @entity.country_of_residence.try do |country_of_residence|
                Country of residence
                %b= country_of_residence
              - @entity.address.try do |address|
                Address
                %b= address
              - date_of_birth(@entity).presence.try do |date_of_birth|
                Born
                %b= date_of_birth
            - else
              - entity_jurisdiction(@entity).try do |entity_jurisdiction|
                Jurisdiction
                = entity_country_flag(@entity)
                %b= entity_jurisdiction
              - @entity.address.try do |address|
                Address
                %b= address
              - @entity.company_number.try do |company_number|
                Company number
                %b= company_number
              - @entity.company_type.try do |company_type|
                Type
                %b= company_type
              - @entity.incorporation_date.try do |incorporation_date|
                Incorporation date
                %b= incorporation_date
              - @entity.dissolution_date.try do |dissolution_date|
                Dissolution date
                %b= dissolution_date

    .row
      .col-lg-6
        .ultimate-source-relationships
          - if @ultimate_source_relationship_groupings.empty?
            %h2.empty-entities
              %span
                = @entity.name
              has no known ultimate source entities
          - else
            %h2
              Entities which ultimately control
              %span
                = @entity.name
            - @ultimate_source_relationship_groupings.each do |name, relationships|
              - if relationships.size > 1
                .grouping
                  %a.grouping-header{ 'aria-controls' => name.parameterize, 'aria-expanded' => 'false', 'data-toggle' => 'collapse', 'href' => '#' + name.parameterize }
                    = name
                    %small.grouping-size.pull-right
                      = relationships.size
                      Instances
                  .collapse{ id: name.parameterize }
                    .note
                      These entities have been grouped together because similarities have been found. We have not determined whether or not these entities are the same.
                    = render partial: 'ultimate_source_relationship', collection: relationships, as: :relationship
              - else
                = render partial: 'ultimate_source_relationship', locals: { relationship: relationships.first }

      .col-lg-6
        .source-relationships
          - if @source_relationships.empty?
            %h2.empty-entities
              No known entities are controlled by
              %span
                = @entity.name
          - else
            %h2
              Entities controlled by
              %span
                = @entity.name
            - @source_relationships.sort_by { |relationship| relationship.target.name }.each do |relationship|
              .item
                = render partial: 'shared/entity_title', locals: { entity: relationship.target }
                = link_to entity_relationship_path(relationship.target, @entity), class: 'relationship-link' do
                  = render partial: 'shared/relationship_interests', locals: { relationship: relationship }
                  %span.details
                    Details &rsaquo;
