= render partial: 'shared/search_bar'

.entity-header
  .container-fluid
    .row
      .col-lg-12
        .row
          .col-lg-8.header-sep
            .entity-name-wrap
              %h1.entity-name= @entity.name
              - if @entity.natural_person?
                - @entity.country.try(:nationality).try do |nationality|
                  = entity_country_flag(@entity)
                  = nationality
              - else
                - entity_jurisdiction(@entity).try do |entity_jurisdiction|
                  = entity_country_flag(@entity)
                  = entity_jurisdiction
          .col-lg-4.header-sep
            .entity-header-meta.meta
              - if @entity.natural_person?
                - @entity.country_of_residence.try do |country_of_residence|
                  %h6= t(".fields.country_of_residence")
                  %p= country_of_residence
                - date_of_birth(@entity).presence.try do |date_of_birth|
                  %h6= t(".fields.date_of_birth")
                  %p= date_of_birth
              - else
                - @entity.company_number.try do |company_number|
                  %h6= t(".fields.company_number")
                  %p= company_number
                - @entity.company_type.try do |company_type|
                  %h6= t(".fields.company_type")
                  %p= company_type

.content.entity-content
  .container-fluid
    .row
      .col-lg-8
        .ultimate-source-relationships
          - if @ultimate_source_relationship_groupings.empty?
            %h2.empty-entities
              = t(".controlling_entities_none_html", entity: render_haml("%span.entity-name= @entity.name"))
          - else
            %h2
              = t(".controlling_entities_html", entity: render_haml("%span.entity-name= @entity.name"))
            - @ultimate_source_relationship_groupings.each do |name, relationships|
              - if relationships.size > 1
                .grouping
                  %a.grouping-header{ 'aria-controls' => name.parameterize, 'aria-expanded' => 'false', 'data-toggle' => 'collapse', 'href' => '#' + name.parameterize }
                    = name
                    %small.grouping-size.pull-right
                      = t(".instances", count: relationships.size)
                  .collapse{ id: name.parameterize }
                    .note
                      = t(".note")
                    = render partial: 'ultimate_source_relationship', collection: relationships, as: :relationship
              - else
                = render partial: 'ultimate_source_relationship', locals: { relationship: relationships.first }

        .source-relationships
          - if @source_relationships.empty?
            %h2.empty-entities
              = t(".controlled_entities_none_html", entity: render_haml("%span.entity-name= @entity.name"))
          - else
            %h2
              = t(".controlled_entities_html", entity: render_haml("%span.entity-name= @entity.name"))
            - @source_relationships.sort_by { |relationship| relationship.target.name }.each do |relationship|
              .item
                = render partial: 'shared/entity_title', locals: { entity: relationship.target }
                = link_to entity_relationship_path(relationship.target, @entity), class: 'relationship-link' do
                  = render partial: 'shared/relationship_interests', locals: { relationship: relationship }
                  %span.details
                    = t(".details")

      - content_for(:meta) do
        - if @entity.natural_person?
          - @entity.address.try do |address|
            %h6= t(".fields.address")
            %p= address
        - else
          - @entity.address.try do |address|
            %h6= t(".fields.address")
            %p= address
          - @entity.incorporation_date.try do |incorporation_date|
            %h6= t(".fields.incorporation_date")
            %p= incorporation_date
          - @entity.dissolution_date.try do |dissolution_date|
            %h6= t(".fields.dissolution_date")
            %p= dissolution_date

      .col-lg-4
        .frame-light.meta
          .frame-wrap
            - if content_for?(:meta)
              = yield :meta
            - else
              %p.unknown= t(".no_further_information_known")

        - unless @entity.natural_person?
          - if @opencorporates_company_hash
            .frame-light.meta
              .frame-wrap
                - @opencorporates_company_hash[:current_status].try do |current_status|
                  %h6= t(".fields.current_status")
                  %p= current_status
                - previous_names(@opencorporates_company_hash).presence.try do |previous_names|
                  %h6= t(".fields.previous_names")
                  %p= previous_names
                - industry_codes(@opencorporates_company_hash).presence.try do |industry_codes|
                  %h6= t(".fields.industry_codes")
                  %p= industry_codes
                - officers(@opencorporates_company_hash).presence.try do |officers|
                  %h6= t(".fields.officers")
                  %ul
                    - officers.each do |officer_hash|
                      %li
                        = officer_hash[:name]
                        - officer_attributes_snippet(officer_hash).presence.try do |attributes|
                          %span.meta-secondary= attributes
              %a.oo-link{ href: @opencorporates_company_hash[:opencorporates_url], target: '_blank' }
                = t(".data_from_opencorporates_html", opencorporates: render_haml("%span OpenCorporates"))
          - else
            .frame-light.meta
              .frame-wrap
                %p.unknown= t(".no_data_from_opencorporates")

        .frame-light.meta.entity-search-links
          .frame-wrap
            %h6= t(".more_on", name: @entity.name)
            %p= link_to 'Google', google_search_uri(q: @entity.name), class: 'external', target: '_blank'
            - if @entity.natural_person?
              %p= link_to 'OpenCorporates', opencorporates_officers_search_uri(q: @entity.name), class: 'external', target: '_blank'
