= render partial: 'shared/search_bar'

.content
  .container-fluid
    .entity-header
      .row
        .col-lg-12
          .meta.clearfix
            .row
              .col-lg-12
                .entity-name-wrap
                  %h1.entity-name= @entity.name
            - if @entity.natural_person?
              .row
                - @entity.country.try(:nationality).try do |nationality|
                  .col-lg-3
                    %h6 Nationality
                    %p
                      = entity_country_flag(@entity)
                      = nationality
                - @entity.country_of_residence.try do |country_of_residence|
                  .col-lg-3
                    %h6 Country of residence
                    %p= country_of_residence
                - @entity.address.try do |address|
                  .col-lg-3
                    %h6 Address
                    %p= address
                - date_of_birth(@entity).presence.try do |date_of_birth|
                  .col-lg-3
                    %h6 Born
                    %p= date_of_birth
            - else
              .row
                - entity_jurisdiction(@entity).try do |entity_jurisdiction|
                  .col-lg-6
                    %h6 Jurisdiction
                    %p
                      = entity_country_flag(@entity)
                      = entity_jurisdiction
                - @entity.address.try do |address|
                  .col-lg-6
                    %h6 Address
                    %p= address
              .row
                - @entity.company_number.try do |company_number|
                  .col-lg-3
                    %h6 Company number
                    %p= company_number
                - @entity.company_type.try do |company_type|
                  .col-lg-3
                    %h6 Type
                    %p= company_type
                - @entity.incorporation_date.try do |incorporation_date|
                  .col-lg-3
                    %h6 Incorporation date
                    %p= incorporation_date
                - @entity.dissolution_date.try do |dissolution_date|
                  .col-lg-3
                    %h6 Dissolution date
                    %p= dissolution_date

    .row
      .col-lg-6
        .ultimate-source-relationships
          - if @ultimate_source_relationship_groupings.empty?
            %h2.empty-entities
              %span
                = @entity.name
              has no known ultimate source entities
          - else
            %h2
              Entities which ultimately control
              %span
                = @entity.name
            - @ultimate_source_relationship_groupings.each do |name, relationships|
              - if relationships.size > 1
                .grouping
                  %a.grouping-header{ 'aria-controls' => name.parameterize, 'aria-expanded' => 'false', 'data-toggle' => 'collapse', 'href' => '#' + name.parameterize }
                    = name
                    %small.grouping-size.pull-right
                      = relationships.size
                      Instances
                  .collapse{ id: name.parameterize }
                    .note
                      These entities have been grouped together because similarities have been found. We have not determined whether or not these entities are the same.
                    = render partial: 'ultimate_source_relationship', collection: relationships, as: :relationship
              - else
                = render partial: 'ultimate_source_relationship', locals: { relationship: relationships.first }

      .col-lg-6
        .source-relationships
          - if @source_relationships.empty?
            %h2.empty-entities
              No known entities are controlled by
              %span
                = @entity.name
          - else
            %h2
              Entities controlled by
              %span
                = @entity.name
            - @source_relationships.sort_by { |relationship| relationship.target.name }.each do |relationship|
              .item
                = render partial: 'shared/entity_title', locals: { entity: relationship.target }
                = link_to entity_relationship_path(relationship.target, @entity), class: 'relationship-link' do
                  = render partial: 'shared/relationship_interests', locals: { relationship: relationship }
                  %span.details
                    Details &rsaquo;
