.provenance-item{ id: ("cite-#{relationship[:reference_number]}" if relationship[:reference_number]) }
  - if relationship[:reference_number]
    %a.provenance-num{ href: "#cite-back-#{relationship[:reference_number]}" }
      [#{relationship[:reference_number]}]
  %li
    - if relationship.provenance
      %a.external{ href: relationship.provenance.source_url, title: relationship.provenance.source_name, target: '_blank' }
        = relationship.provenance.source_name
      - sample_date = get_most_likely_sample_date(relationship)
      - partial_date_format(sample_date).try do |formatted|
        %p
          = glossary_tooltip(t('.sample_date'), :sample_date, :right)
          = formatted
      %p.meta-secondary
        = glossary_tooltip(t('.retrieved_at'), :retrieved_at, :right)
        = relationship.provenance.retrieved_at.to_date
      %p.meta-secondary
        = glossary_tooltip(t('.imported_at'), :imported_at, :right)
        = relationship.provenance.imported_at.to_date
    - else
      %p.unknown= t('.unknown')
