.provenance-item{ id: ("cite-#{relationship[:reference_number]}" if relationship[:reference_number]) }
  - if relationship[:reference_number]
    %a.provenance-num{ href: "#cite-back-#{relationship[:reference_number]}" }
      [#{relationship[:reference_number]}]
  %li
    - if relationship.provenance
      %a.external{ href: relationship.provenance.source_url, title: relationship.provenance.source_name, target: '_blank' }
        = relationship.provenance.source_name
      - partial_date_format(relationship.sample_date).try do |sample_date|
        %p
          %a.tooltip-helper{ "data-toggle" => "tooltip", "data-placement" => "right", title: t(".sample_date.description") }= t(".sample_date.label")
          = sample_date
      %p.meta-secondary
        %a.tooltip-helper{ "data-toggle" => "tooltip", "data-placement" => "right", title: t(".retrieved_at.description") }= t(".retrieved_at.label")
        = relationship.provenance.retrieved_at.to_date
      %p.meta-secondary
        %a.tooltip-helper{ "data-toggle" => "tooltip", "data-placement" => "right", title: t(".imported_at.description") }= t(".imported_at.label")
        = relationship.provenance.imported_at.to_date
    - else
      %p.unknown Not yet uploaded
