- content_for(:title, [@source_entity.name, @target_entity.name].join(" → "))

.entity-header
  .container-fluid
    .row
      .col-lg-12
        .entity-name-wrap
          %h1
            = succeed(":") do
              = glossary_tooltip(t(".beneficial_ownership_chain", count: @relationships.size), :beneficial_ownership_chain, :top)
            = t(".title_html", source: render_haml("%span.entity-name= @source_entity.name"), target: render_haml("%span.entity-name= @target_entity.name"))

.content
  .container-fluid
    - @relationships.each do |relationship|
      .row
        .col-lg-8
          .relationship-details
            - if relationship.intermediate_relationships.any?
              - relationship.intermediate_relationships.each do |intermediate_relationship|
                .item.relationship-source
                  = render partial: 'shared/entity_title', locals: { entity: intermediate_relationship.source }
                  = render partial: 'shared/relationship_interests', locals: { relationship: intermediate_relationship }
            - else
              .item.relationship-source
                = render partial: 'shared/entity_title', locals: { entity: relationship.source }
                = render partial: 'shared/relationship_interests', locals: { relationship: relationship }

            .item.relationship-target
              = render partial: 'shared/entity_title', locals: { entity: @target_entity }
        .col-lg-4
          .frame-light.meta.provenance
            .frame-wrap
              %h6= t(".provenance")
              - if relationship.intermediate_relationships.any?
                %ol
                  = render partial: 'provenance', collection: relationship.intermediate_relationships, as: :relationship
              - else
                %ul
                  = render partial: 'provenance', locals: { relationship: relationship }
