- content_for(:title, [@source_entity.name, @target_entity.name].join(" → "))

.entity-header
  .container-fluid
    .row
      .col-lg-12
        .entity-name-wrap
          %h1
            = succeed(":") do
              = glossary_tooltip(t(".beneficial_ownership_chain", count: @relationships.size), :beneficial_ownership_chain, :top)
            = t(".title_html", source: render_haml("%span.entity-name= entity_name_or_tooltip(@source_entity, :bottom)"), target: render_haml("%span.entity-name= @target_entity.name"))
  .options-bar
    .container-fluid
      .row
        .col-lg-12
          .options
            %h6 Options
            %ul.list-unstyled
              %li.option-transliterate
                = transliteration_action(@should_transliterate)
              %li.option-report.last
                = link_to t("shared.report_incorrect_data"), report_incorrect_data_url, target: '_blank', rel: 'noopener'

.content
  .container-fluid
    - @relationships.each do |relationship|
      .row
        .col-lg-8
          .relationship-details
            - relationship.sourced_relationships.each do |sourced_relationship|
              .item.relationship-source{ class: ('ended' if sourced_relationship.ended_date.present?) }
                = render partial: 'shared/entity_title', locals: { entity: sourced_relationship.source }
                = render partial: 'shared/relationship_interests', locals: { relationship: sourced_relationship }

            .item.relationship-target
              = render partial: 'shared/entity_title', locals: { entity: @target_entity }
        .col-lg-4
          .frame-light.meta.provenance
            .frame-wrap
              %h6= glossary_tooltip(t(".provenance"), :provenance, :right)
              %ol
                = render partial: 'provenance', collection: relationship.sourced_relationships, as: :relationship
          = link_to t("shared.report_incorrect_data"), report_incorrect_data_url, class: 'feedback-button', target: '_blank', rel: 'noopener'
