- content_for(:title, [@source_entity.name, @target_entity.name].join(" → "))

.entity-header
  .container-fluid
    .row
      .col-lg-12
        .entity-name-wrap
          %h1
            = succeed(":") do
              = glossary_tooltip(t(".beneficial_ownership_chain", count: @relationships.size), :beneficial_ownership_chain, :top)
            = t(".title_html", source: render_haml("%span.entity-name= entity_name_or_tooltip(@source_entity, :bottom)"), target: render_haml("%span.entity-name= @target_entity.name"))

.content
  .container-fluid
    - @relationships.each do |relationship|
      .row
        .col-lg-8
          .relationship-details
            - relationship.sourced_relationships.each do |sourced_relationship|
              .item.relationship-source
                = render partial: 'shared/entity_title', locals: { entity: sourced_relationship.source }
                = render partial: 'shared/relationship_interests', locals: { relationship: sourced_relationship }

            .item.relationship-target
              = render partial: 'shared/entity_title', locals: { entity: @target_entity }
        .col-lg-4
          .frame-light.meta.provenance
            .frame-wrap
              %h6= glossary_tooltip(t(".provenance"), :provenance, :right)
              %ol
                = render partial: 'provenance', collection: relationship.sourced_relationships, as: :relationship
