%h2= t(".header")
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .field
    = f.label :password, t(".new_password")
    %br/
    - if @minimum_password_length
      %em
        = t(".minimum_password_length", length: @minimum_password_length)
      %br/
    = f.password_field :password, autofocus: true, autocomplete: "off"
  .actions
    = f.submit t(".submit")
= render "devise/shared/links"
