- content_for(:title, t(".title"))

.content.form-content
  .container-fluid
    .row
      .col-lg-6.offset-lg-3
        .frame-light
          .frame-wrap
            %header
              %h1= t(".header")

            = form_with model: resource, url: password_path(resource_name), method: :put, local: true do |f|
              = devise_error_messages!
              = f.hidden_field :reset_password_token
              .form-group
                = f.label :password, t(".new_password")
                - if @minimum_password_length
                  %em
                    = t(".minimum_password_length", length: @minimum_password_length)
                = f.password_field :password, autofocus: true, autocomplete: "new-password", id: "#{resource_name}_password", class: 'form-control form-control-lg'
              .actions
                = f.submit t(".submit"), class: 'btn btn-primary btn-lg btn-block'
            = render "devise/shared/links"
