= form_with model: relationship, scope: :relationship, url: submission_relationship_path(relationship.submission, relationship), local: true do |f|
  %p
    %strong= t('.hint')
  %hr
  - if relationship.errors.any?
    = render 'submissions/shared/form_errors', errors: relationship.errors
    %hr
  .form-group
    = f.label :ownership_of_shares_percentage
    .input-group
      = f.number_field :ownership_of_shares_percentage, min: '0.0', max: '100.0', step: '0.01', placeholder: '0.0', class: 'form-control'
      %span.input-group-addon %
  %hr
  .form-group
    = f.label :voting_rights_percentage
    .input-group
      = f.number_field :voting_rights_percentage, min: '0.0', max: '100.0', step: '0.01', placeholder: '0.0', class: 'form-control'
      %span.input-group-addon %
  %hr
  .form-group
    = f.label :right_to_appoint_and_remove_directors, class: 'submission-checkbox-field' do
      = f.check_box :right_to_appoint_and_remove_directors
      = t('.right_to_appoint_and_remove_directors_label')
  %hr
  .form-group
    = f.label :other_significant_influence_or_control
    = f.text_field :other_significant_influence_or_control, class: 'form-control'
  .form-group
    = f.button t('.continue'), class: 'btn btn-primary'
