.relationship-interests
  - show_ended = local_assigns.fetch :show_ended, false
  %ul.list-unstyled{ id: ("cite-back-#{relationship[:reference_number]}" if relationship[:reference_number]) }
    - if relationship.interests.empty?
      %li.unknown
        = glossary_tooltip(t(".unknown"), :undefined_interest, :right)
    - else
      - known_interests_for(relationship).each do |interest|
        %li= t(interest, scope: :relationship_interests, default: interest)
      - if unknown_interests_for(relationship).any?
        %li.unknown
          = glossary_tooltip(t(".unknown"), :undefined_interest, :right)
    - if show_ended && relationship.ended_date
      %li.ended_date
        = t("shared.relationship_ended", date: relationship.ended_date)
    - if relationship[:reference_number]
      %sup.reference
        %a{ href: "#cite-#{relationship[:reference_number]}" }
          [#{relationship[:reference_number]}]
