.relationship-interests
  %ul.list-unstyled{ id: ("cite-back-#{relationship[:reference_number]}" if relationship[:reference_number]) }
    - if relationship.interests.empty?
      %li.unknown
        = glossary_tooltip(t(".unknown"), :undefined_interest, :right)
    - else
      - known_interests_for(relationship).each do |interest|
        %li= I18n.t(interest, scope: :relationship_interests)
      - if unknown_interests_for(relationship).any?
        %li.unknown
          = glossary_tooltip(t(".unknown"), :undefined_interest, :right)
    - if relationship[:reference_number]
      %sup.reference
        %a{ href: "#cite-#{relationship[:reference_number]}" }
          [#{relationship[:reference_number]}]
