.relationship-interests
  %ul.list-unstyled{ id: ("cite-back-#{relationship[:reference_number]}" if relationship[:reference_number]) }
    - if relationship.interests.empty?
      %li.unknown
        = t(".unknown")
    - else
      - relationship.interests.each do |interest|
        %li= t(interest, scope: :relationship_interests, default: t(".unknown"))
    - if relationship[:reference_number]
      %sup.reference
        %a{ href: "#cite-#{relationship[:reference_number]}" }
          [#{relationship[:reference_number]}]
