- if entity.is_a?(CircularOwnershipEntity)
  %em= glossary_tooltip(entity.name, :circular_ownership, :right)
- elsif entity.is_a?(UnknownPersonsEntity)
  %span= country_flag(entity.country)
  %em= entity.name
- else
  %span= country_flag(entity.country)
  %span= entity.name
- if entity.natural_person?
  = image_tag "icon-natural-person.svg", class: 'tree-entity__type-icon'
- elsif entity.legal_entity?
  = image_tag "icon-legal-entity.svg", class: 'tree-entity__type-icon'
