- content_for(:title, t(".title"))
- content_for :schema do
  = render partial: 'download_schema.json'

.content.page-content
  .container-fluid
    .row
      .col-lg-8
        .page-header
          %h1= t(".title")

    .row
      .col-lg-8
        .page-text
          %h2 Contents
          %ul
            %li <a href="#downloads">Downloads</a>
            %li <a href="#what-is-it">What is this data?</a>
            %li <a href="#what-isnt-it">What is this data not?</a>
            %li
              <a href="#how-to-use-it">How do I use it?</a>
              %ul
                %li <a href="#format">Format & Structure</a>
                %li <a href="#examples">Example data</a>
                %li <a href="#identifiers">Identifying and linking entities</a>
            %li <a href="#license">License</a>
            %li <a href="#further-information">Further information</a>

          %h2{ id: 'downloads' } Downloads
          %p Links to the most recent files we've exported:
          %ul
            - @exports.each do |export|
              %li= link_to export.created_at.to_date, "https://#{ENV['BODS_EXPORT_S3_BUCKET_NAME']}.s3-eu-west-1.amazonaws.com/#{export.s3_path}", rel: 'nofollow'

          %h2{ id: 'what-is-it' } What is this data?
          %p
            <strong>Each file contains a complete snapshot of all of the data in this
            register</strong>. That includes data from:
          %ul
            %li <a href="/data_sources/uk-psc-register">UK People with significant control (PSC) Register</a> (regularly updated)
            %li <a href="/data_sources/dk-cvr-register">Denmark Central Business Register (CVR)</a> (regularly updated)
            %li <a href="/data_sources/sk-rpvs-register">Slovakia Public Sector Partners Register</a> (regularly updated)
          %p
            <strong>The raw data from each of these sources has been imported, the
            companies <strong>reconciled with
            <a href="https://opencorporates.com">OpenCorporates</a> and</strong> - where
            possible - de-duplicated</strong> based on OpenCorporates results and our
            own de-duplication algorithms. It has also been periodically
            refreshed with reconciliations with OpenCorporates database to
            collect company name changes, dissolutions, etc.
          %p
            <strong>The data is formatted in version 0.2 of
            <a href="https://standard.openownership.org/en/0.2.0/">Open Ownership's
            Beneficial Ownership Data Standard</a> (BODS) </strong>. All source data has been
            standardised on export, attempting to keep as much source-specific
            information as possible, but prioritising consistency across
            sources.
          %p
            We have <a href="https://standard.openownership.org/en/0.2.0/">
            extensive documentation on the standard</a>, in particular we
            recommend understanding the <a href="https://standard.openownership.org/en/0.2.0/schema/concepts.html">
            key concepts in the data model</a> and then referring to the
            specifics using the
            <a href="https://standard.openownership.org/en/0.2.0/schema/schema-browser.html">
            interactive schema browser</a>.
          %p
            <strong>The file is in <a href="http://jsonlines.org/">JSONLines</a> format</strong>,
            meaning each BODS <code>statement</code> is a JSON object on a
            single line of the file. It has been compressed with
            <a href="https://www.gnu.org/software/gzip/">Gzip</a>, which is
            usually already available on MacOS and Linux systems, and is easily
            readable with a variety of compression programs on Windows.
          %p
            <strong>Our regular data updates at least every month</strong>, and we will
            make a new export after each update. This page will be updated as soon as 
            that happens, but you can also rely on the "latest" link at the top of the 
            page to always point to the most recent data.

          %h2{ id: 'what-isnt-it' } What is this data not?
          %p
            <strong>100% accurate, up-to-date, or lawful for every use case</strong>. As per our
            <a href="/terms-and-conditions">terms and conditions</a> we cannot
            guarantee the accuracy of the data, nor that your use of it is
            lawful. Due to the nature of our periodic update and refresh
            process, we also can't guarantee the freshness of the data. Refer to
            the <a href="/terms-and-conditions#quality">information quality section</a>
            of our terms for more details.
          %p
            <strong>A comprehensive dataset of <i>companies</i> in the jurisdictions
            we have data for</strong>. It only contains those people and companies who've
            declared beneficial ownership information. For example, the UK PSC
            and DK CVR registers are broadly intended to cover all companies in
            their respective countries, but there will always be companies who
            don't comply. In addition, some jurisdictions (e.g. Slovakia)
            only require declarations from specific sectors or types of
            companies.
          %p
            <strong>Data on company directors, officials or shareholders</strong>. Whilst
            individuals in these roles may also be beneficial owners, the
            inverse is not always true. The people in our data are only those
            who meet the definition of a beneficial owner in their respective
            jurisdiction. There are often thresholds of shareholding (for
            example) which must be exceeded to qualify. Conversely,
            shareholding is not the only way one becomes a beneficial owner.

          %p
            The Register is a work-in-progress and there are a number of issues that
            we are working to resolve. Please check the <a href="https://github.com/openownership/register-v2">
            list of issues on Github</a>, report any <a href="https://github.com/openownership/register-v2/issues/new">
            additional issues</a> or visit our <a href="https://github.com/orgs/openownership/projects/7/views/1">
            project board</a>.

          %h2{ id: 'how-to-use-it' } How do I use it?
          %p
            While we suggest you read the <a href="https://standard.openownership.org/en/0.2.0/">
            Beneficial Ownership Data Standard documentation</a>, here's a very
            brief overview of how the data is structured and how we suggest
            you can use it:
          %h3{ id: 'format' } Format & Structure
          %p
            As mentioned above, the file is a single JSONLines format file,
            with one JSON <code>statement</code> per line. Lines are
            separated by Unix line endings (<code>\n</code>). The file has been
            compressed with Gzip, so expect the uncompressed version to be
            roughly 10x bigger than the compressed one.
          %p
            Each statement concerns a person, entity or relationship between
            them. They are in order such that, if you process the file
            sequentially from first line to last, you will see the people or
            entities involved in any relationships <i>before</i> you see the
            relationships. Note that this means if you process the file in a
            parallel or distributed fashion, you will need a means of
            revisiting statements which you see out of order.
          %h3{ id: 'examples' } Example data
          %p
            Find <a href="https://standard.openownership.org/en/0.3.0/examples/index.html">
            example data</a> in the BODS documentation.

          %h3{ id: 'identifiers' } Identifying and linking entities
          %p
            The primary identifier in BODS is the <code>statementID</code>. This uniquely
            identifies a particular statement about a person, legal entity or
            relationship between them. You may also want to link our data to other 
            datasets that have company numbers or other identifiers in them.
          %p
            The <code>identifiers</code> field is the way you can do this.
          %p
            The <a href="https://standard.openownership.org/en/0.2.0/schema/reference.html#schema-identifier">
            BODS schema</a> allows for an array of identifiers to help users of
            the data link people and companies to other data sources. We make
            use of this feature to provide several of our own identifiers as well
            as transferring as much information from the original source data as
            we can, so that you can link the records back to their original
            data.
          %p
            Here are some examples of identifiers you might see and an
            explanation of how to interpret them:
          %p
            %strong An official identifier using an org-id scheme
          .card
            .card-block
              = @example_official_identifier
          %p
            We will give these identifiers when we're sure that the id we have is
            from the <a href="http://org-id.guide">org-id.guide</a>
            <code>scheme</code> given. For example, we'll give
            company numbers under the <code>GB-COH</code> scheme for
            companies declaring their beneficial owners in the UK People with 
            significant control (PSC) Register.
          %p
            If entities have identifiers from a register that we matched in
            org-id, you should be able to uniquely identify them and connect
            them to other data sources. For example, you can match companies to
            a national register or match them to other datasets like those from the 
            <a href="https://data.open-contracting.org/">Open Contracting Partnership</a> 
            which use the <a href="https://standard.open-contracting.org/latest/en/guidance/map/beneficial_ownership/">
            same identifiers</a>.
          %p
            All of the identifiers we currently match to org-id schemes are for
            company numbers. Org-id has many other identifier schemes available,
            such as for charities or educational institutions, however none of
            our data sources have verified data which we can link to them, so we
            do not use them. Similarly, BODS allows for schemes to declare
            official identifiers for people, such as tax IDs or passport numbers,
            but none of our data sources report these either.
          %p
            %strong Unofficial identifiers
          .card
            .card-block
              = @example_unofficial_company_identifier
          .card
            .card-block
              = @example_unofficial_person_identifier
          .card
            .card-block
              = @example_composite_unofficial_person_identifier
          %p
            In cases where we can't give an official org-id <code>scheme</code>,
            we'll give an identifier with just a <code>schemeName</code>.
            These names will always start with the ISO-3166-1 alpha2
            country code for the country the register is in, followed by the
            original language name for the register. For example: <i>UK People with 
            significant control (PSC) Register</i>.
          %p
            The intention is that these identifiers can be used to
            uniquely identify a person/company record within that data source,
            though not necessarily outside of it. Likewise, they will identify
            the record but may not uniquely identify the entity. For example,
            for beneficial owners from the <i>UK Persons with significant control
            Register</i> we give the value of the 'self link', a path-like string
            which uniquely identifies a beneficial owner record, but doesn't
            identify a specific person or company across records.
          %p
            The values in the <code>id</code> field will vary depending on the
            source. As shown above, we use whatever field(s) in the source can
            uniquely identify the record. In some cases this means combining
            multiple fields (with a hyphen <code>-</code>). Currently, the fields are:
          %ul
            %li <i>DK Centrale Virksomhedsregister</i>: <code>enhedsNummer</code>
            %li <i>SK Register Partnerov Verejného Sektora</i>: <code>KonecniUzivateliaVyhod.Id</code>
            %li <i>GB Persons Of Significant Control Register</i>: beneficial owner "self links"
            %li <i>GB Persons Of Significant Control Register - Registration numbers</i>: beneficial owner "registration numbers". i.e. unverified company registration numbers.
          %p
            %strong An OpenCorporates identifier
          .card
            .card-block
              = @example_oc_identifier
          %p
            For companies we've successfully matched to OpenCorporates, we
            include the url to that company on opencorporates.com. Note that in
            some rare occasions we will have matched a company to more than one
            OpenCorporates record. For completeness, we're including the same
            value in both the <code>id</code> and the <code>uri</code> fields.
          %p
            %strong A register identifier
          .card
            .card-block
              = @example_register_identifier
          %p
            Every single known person and company will have an identifier that
            gives their URL on the register. Unknown companies are declared
            explicitly in BODS, but don't have a corresponding page in the
            register so we cannot give a URL for them. Again the value is in
            both the <code>id</code> and <code>uri</code>.

          %h2{ id: 'license' } License
          %p
            Please see our <a href="/terms-and-conditions">terms and conditions</a>.

          %h2{ id: 'further-information' } Further information
          %p
            <a href="mailto:tech@openownership.org">Contact us</a> if you
            have questions about using this data which aren't answered here.

      .col-lg-4
        %br
        - unless @exports.empty?
          .card
            .card-block
              %h5.card-title Latest data
              %p Exported: #{@exports.first.created_at.to_date}
              %p
                = link_to "https://#{ENV['BODS_EXPORT_S3_BUCKET_NAME']}.s3-eu-west-1.amazonaws.com/#{@exports.first.s3_path}", rel: 'nofollow', class: 'btn btn-primary', id: 'latest-data' do
                  Download &nbsp;<i class='fa fa-download'></i>
        .card
          .card-block
            %h5.card-title Changelog
            %p
              For more information on our iterative improvements to this data,
              <a href="/data-changelog">see our changelog</a> of major
              changes.
