- content_for(:title, t(".title"))

.content.form-content
  .container-fluid
    .row
      .col-lg-6.offset-lg-3
        .frame-light
          .frame-wrap
            %header
              %h1= t(".header")

            = form_with model: resource, url: session_path(resource_name), local: true do |f|
              .form-group
                = f.label :email
                = f.email_field :email, autofocus: true, autocomplete: 'email', id: "#{resource_name}_email", class: 'form-control form-control-lg'
              .form-group
                = f.label :password
                = f.password_field :password, autocomplete: 'current-password', id: "#{resource_name}_password", class: 'form-control form-control-lg'
              .actions
                = f.submit t(".submit"), class: 'btn btn-primary btn-lg btn-block'
            = render "devise/shared/links"
