- content_for(:title, %("#{params[:q]}")) if params[:q].present?

.content.search-content
  .container-fluid

    .row
      .col-lg-12
        %h1= t(".headline")
        - if params[:q].blank?
          %p.legal-entity-count= t(".legal-entity_count", count: number_to_human(@legal_entity_count, precision: 2).downcase)
      .col-lg-6.offset-lg-3
        .form-group
          = form_with url: search_path, method: 'get', class: 'search-form', local: true do |f|
            = f.text_field :q, value: params[:q], class: 'form-control form-control-lg search-field', placeholder: t(".placeholder"), autofocus: true
            = f.submit t(".search"), name: nil, class: 'search-button'

    .row
      - if params[:q].blank?
        .col-lg-6.offset-lg-3
          .oo-intro
            %p= t(".blurb_html", bo_link: link_to(t('.bo_link_text'), glossary_path), more_info_link: link_to(t('.more_info_link_text'), faq_path))

            %hr

            .data-sources-info
              %p= t(".data_sources_preface", count: number_with_delimiter(@legal_entity_count))
              %ul.list-unstyled
                - if @data_sources['uk-psc-register'].present?
                  %li= link_to('UK PSC Register', data_source_path(@data_sources['uk-psc-register']))
                - else
                  %li= link_to('UK PSC Register', 'http://download.companieshouse.gov.uk/en_pscdata.html', target: '_blank', rel: 'noopener')

                - if @data_sources['dk-cvr-register'].present?
                  %li= link_to('Denmark Central Business Register (CVR)', data_source_path(@data_sources['dk-cvr-register']))
                - else
                  %li= link_to('Denmark Central Business Register (CVR)', 'https://cvr.dk', target: '_blank', rel: 'noopener')

                - if @data_sources['sk-rpvs-register'].present?
                  %li= link_to('Slovakia Public Sector Partners Register', data_source_path(@data_sources['sk-rpvs-register']))
                - else
                  %li= link_to('Slovakia Public Sector Partners Register', 'https://rpvs.gov.sk/', target: '_blank', rel: 'noopener')

                - if @data_sources['ua-edr-register'].present?
                  %li= link_to('Ukraine Unified States Register (EDR)', data_source_path(@data_sources['ua-edr-register']))
                - else
                  %li= link_to('Ukraine Unified States Register (EDR)', 'https://data.gov.ua/dataset/1c7f3815-3259-45e0-bdf1-64dca07ddc10', target: '_blank', rel: 'noopener')

            %hr

            %p
              = link_to "Download our data", download_path, class: 'btn btn-primary'

            %hr

      - elsif @response.results.total.zero?
        .col-lg-6.offset-lg-3
          .no-results
            %p= t(".no_results")
      - else
        .col-lg-7.offset-lg-1
          .frame
            .frame-wrap
              %p.search-results-header
                - if @fallback
                  %em= t(".fallback", query: params[:q])
                  %br
                = page_entries_info @response.records, entry_name: 'result'
              .options
                .option-transliterate
                  = transliteration_action(@should_transliterate)

              %ul.list-unstyled.list-entities
                - @response.records.to_a.each do |record|
                  %li.item
                    = render "shared/entity_title", entity: decorate(record), with_company: true
                    - if record.natural_person?
                      .result-controls
                        = render partial: 'shared/entity_controlled_companies', locals: { entity: record }
                    - if record.merged_entities_count&.positive?
                      .result-merged-people
                        = t('.merged_people', count: record.merged_entities_count)
              = paginate @response.records

      .col-lg-3
        - unless params[:q].blank? || @response.results.empty?
          = render partial: 'filter', locals: { key: 'type', helper: method(:search_filter_type) }
          = render partial: 'filter', locals: { key: 'country', helper: method(:search_filter_country) }
