.content.search-content
  .container-fluid

    .row
      .col-lg-12
        %h1 Check beneficial ownership for #{number_to_human(@company_count, precision: 2).downcase} companies
      .col-lg-6.offset-lg-3
        .form-group
          = form_tag search_path, method: 'get', class: 'search-form' do
            = text_field_tag :q, params[:q], class: 'form-control form-control-lg search-field', placeholder: 'Search company or name of person', autofocus: true

            = submit_tag 'Search', name: nil, class: 'search-button'

    .row
      .col-lg-6.offset-lg-3
        - if params[:q].blank?
          .oo-intro
            %p OpenOwnership is a new platform to collect and publish beneficial ownership to fight corruption, crime, and improve business integrity.
            %p
              %span
                Coming soon:
              Add ownership info on your company
        - elsif @results.total.zero?
          .no-results
            %p No results to show
        - else
          .frame
            %p= page_entries_info @results, entry_name: 'result'

            %ul.list-unstyled.list-entities
              - @records.each do |record|
                %li
                  = link_to entity_path(record.id) do
                    = record.name
                    = entity_country_flag(record)

            = paginate @results

.footer-data-info
  Free and open information on #{number_with_delimiter(@company_count)} companies, from UK PSC Register and EITI pilot data
