.content.search-content
  .container-fluid

    .row
      .col-lg-12
        %h1= t(".headline")
        %p.company-count= t(".company_count", count: number_to_human(@company_count, precision: 2).downcase)
      .col-lg-6.offset-lg-3
        .form-group
          = form_tag search_path, method: 'get', class: 'search-form' do
            = text_field_tag :q, params[:q], class: 'form-control form-control-lg search-field', placeholder: t(".placeholder"), autofocus: true

            = submit_tag t(".search"), name: nil, class: 'search-button'

    .row
      .col-lg-6.offset-lg-3
        - if params[:q].blank?
          .oo-intro
            %p= t(".blurb")
            %p
              %span= t(".coming_soon")
              = t(".coming_soon_content")
        - elsif @response.results.total.zero?
          .no-results
            %p= t(".no_results")
        - else
          .frame
            .frame-wrap
              %p= page_entries_info @response.results, entry_name: 'result'

              %ul.list-unstyled.list-entities
                - @response.records.to_a.each do |record|
                  %li
                    = render "shared/entity_title", entity: record

              = paginate @response.results

.footer-data-info
  = t(".footer", count: number_with_delimiter(@company_count))
