.content
  .container-fluid

    .row
      .col-lg-8.offset-lg-2
        .form-group
          = form_tag search_path, method: 'get', class: 'search-form' do
            = text_field_tag :q, params[:q], class: 'form-control form-control-lg search-field', placeholder: 'Search company or name', autofocus: true

            = submit_tag 'Search', name: nil, class: 'search-button'

    .row
      .col-lg-8.offset-lg-2
        - unless params[:q].blank?
          - if @results.total.zero?
            .no-results
              %p No results to show
          - else
            .frame
              %p= page_entries_info @results, entry_name: 'result'

              %ul.list-unstyled.list-entities
                - @results.each do |result|
                  %li= link_to result.name, entity_path(result.id)

              = paginate @results
