.content.search-content
  .container-fluid

    .row
      .col-lg-6.offset-lg-3
        .form-group
          = form_tag search_path, method: 'get', class: 'search-form' do
            = text_field_tag :q, params[:q], class: 'form-control form-control-lg search-field', placeholder: 'Search company or name', autofocus: true

            = submit_tag 'Search', name: nil, class: 'search-button'

    .row
      .col-lg-6.offset-lg-3
        - unless params[:q].blank?
          - if @results.total.zero?
            .no-results
              %p No results to show
          - else
            .frame
              %p= page_entries_info @results, entry_name: 'result'

              %ul.list-unstyled.list-entities
                - @records.each do |record|
                  %li
                    = link_to entity_path(record.id) do
                      = record.name
                      = entity_country_flag(record)

              = paginate @results
