- content_for(:title, %("#{params[:q]}")) if params[:q].present?

.content.search-content
  .container-fluid

    .row
      .col-lg-12
        %h1= t(".headline")
        %p.legal-entity-count= t(".legal-entity_count", count: number_to_human(@legal_entity_count, precision: 2).downcase)
      .col-lg-6.offset-lg-3
        .form-group
          = form_tag search_path, method: 'get', class: 'search-form' do
            = text_field_tag :q, params[:q], class: 'form-control form-control-lg search-field', placeholder: t(".placeholder"), autofocus: true

            = submit_tag t(".search"), name: nil, class: 'search-button'

    .row
      - if params[:q].blank?
        .col-lg-6.offset-lg-3
          .oo-intro
            %p= t(".blurb")
            %p
            - if user_signed_in?
              %p
                = link_to "Add your company’s beneficial ownership", submissions_path, class: 'btn btn-primary btn-lg'
            - else
              %p
                = link_to "Sign up to add your company’s beneficial ownership", new_user_registration_path, class: 'btn btn-primary btn-lg'
              %p
                Already signed up?
                = link_to "Sign in here", new_user_session_path
      - elsif @response.results.total.zero?
        .col-lg-6.offset-lg-3
          .no-results
            %p= t(".no_results")
      - else
        .col-lg-7.offset-lg-1
          .frame
            .frame-wrap
              %p= page_entries_info @response.results, entry_name: 'result'
              .options
                .option-transliterate
                  %a{ :href => "#" }
                    Transliterate

              %ul.list-unstyled.list-entities
                - @response.records.to_a.each do |record|
                  %li.item
                    = render "shared/entity_title", entity: record, with_company: true
                    - if record.natural_person?
                      .result-controls
                        :ruby
                          controls = record.relationships_as_source
                            .sort_by { |relationship| relationship.target.name }
                            .map { |relationship| link_to relationship.target.name, entity_path(relationship.target) }
                        Controls:
                        = safe_join controls, ', '

              = paginate @response.results

      .col-lg-3
        - unless params[:q].blank? || @response.results.empty?
          = render partial: 'filter', locals: { key: 'type', helper: method(:search_filter_type) }
          = render partial: 'filter', locals: { key: 'country', helper: method(:search_filter_country) }

.footer-data-info
  = t(".footer", count: number_with_delimiter(@legal_entity_count))
  = link_to t(".download_data"), ENV['DATA_DOWNLOAD_URL'] if ENV['DATA_DOWNLOAD_URL'].present?
