%span.long-snippet
  %span= country_flag(entity.country)
  %span= entity.name
  %small
    = entity_attributes_snippet(entity)
  - if entity.natural_person?
    .type-icon.natural-person
      = image_tag "icon-natural-person.svg"
  - else
    .type-icon.legal-entity
      = image_tag "icon-legal-entity.svg"
