= form_with **form_options_for_entity(entity) do |f|
  = render 'submissions/shared/form_errors', errors: entity.errors if entity.errors.any?
  = render 'continue_params'
  = f.hidden_field :type
  = f.hidden_field :user_created
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control form-control-lg', autofocus: true
    %small= t('.name_hint')
  %hr
  .form-group
    = f.label :dob, t('.dob_label')
    = f.date_field :dob, placeholder: 'YYYY-MM-DD', class: 'form-control', value: partial_date_format(entity.dob)
    %small= t('.dob_hint')
  .form-group
    = f.label :country_of_residence
    = f.select :country_of_residence, countries_for_select, { prompt: '' }, class: 'form-control'
  .form-group
    = f.label :nationality
    = f.select :nationality, countries_for_select, { prompt: '' }, class: 'form-control'
  .form-group
    = f.label :address, t('.address_label')
    = f.text_field :address, class: 'form-control'
    %small= t('.address_hint')
  .form-group
    = f.button t('.continue'), class: 'btn btn-primary'
