.content
  .container-fluid
    .row
      .col-lg-6
        .submission-instructions
          = render 'submissions/submissions/instructions_header'
          %p= t('.choose_html', company: render_haml('%strong= @target.name'))
      .col-lg-6
        .submission-frame
          .centered
            = link_to t('.add_natural_person'), new_submission_entity_path(@submission, continue_params.merge(entity: { type: Submissions::Entity::Types::NATURAL_PERSON })), class: 'btn btn-primary'
            &nbsp;
            = link_to t('.add_legal_entity'), search_submission_entities_path(@submission, continue_params), class: 'btn btn-primary'
          - if @people_from_submission.any?
            %hr
            %h2= t('.persons_from_submission')
            = render partial: 'submissions/entities/search_result', collection: @people_from_submission, as: :entity
          - if @companies_from_submission.any?
            %hr
            %h2= t('.companies_from_submission')
            = render partial: 'submissions/entities/search_result', collection: @companies_from_submission, as: :entity
