.content.submission-content
  .container-fluid
    .row
      .col-lg-6
        .submission-instructions
          = render 'submissions/submissions/instructions_header' if @submission.entity.present?
          - if @source.present? && @target.present?
            %p= t('.search_for_intermediate_entity_html', source: render_haml('%strong= @source.name'), target: render_haml('%strong= @target.name'))
          - elsif @target.present?
            %p= t('.search_for_controlling_entity_html', target: render_haml('%strong= @target.name'))
          - else
            %p
              %strong= t('.search_for_a_company')
          %p= t('.if_company_does_not_exist')
          - if @companies_from_submission.any?
            %p= t('.if_company_in_submission')
      .col-lg-6
        .submission-frame
          = form_with url: search_submission_entities_path, method: :get, class: 'submission-search-form', local: true do |f|
            = render 'continue_params'
            .form-group
              .submission-search-field
                = f.text_field :q, value: params[:q], autofocus: true, id: 'search_q', class: 'form-control form-control-lg'
                = f.button t('.submit'), name: nil, class: 'btn btn-primary'

          - if params[:q].present?
            %hr
            .centered
              - if @companies_from_opencorporates.any?
                %p= t('.choose_from_results')
              - else
                %p= t('.no_results_found')
              = link_to t('.create_company'), new_submission_entity_path(@submission, continue_params.merge(entity: { type: Submissions::Entity::Types::LEGAL_ENTITY })), class: 'btn btn-primary'

            - if @companies_from_opencorporates.any?
              %hr
              %p= t('.companies_from_opencorporates')
              = render partial: 'submissions/entities/search_result', collection: @companies_from_opencorporates, as: :entity
          - elsif @companies_from_submission.any?
            %hr
            %p= t('.choose_from_submission')
            = render partial: 'submissions/entities/search_result', collection: @companies_from_submission, as: :entity

- if params[:q].blank?
  :javascript
    $('.submission-search-field .form-control').tooltip({ title: '#{t('.search_tooltip')}', placement: 'top', trigger: 'manual', offset: '5 0', template: SIGNPOST_TEMPLATE }).tooltip('show');
