%p= t('.intro')
%ol.submission-steps
  %li{ class: submission_step == 'add-controlling-entities' ? 'active' : '' }
    = t('.step_1.heading_html', company: render_haml('%strong= @submission.entity.name'))
    %p
      = t('.step_1.hint.text_html', beneficial_owner: glossary_tooltip(t('.step_1.hint.beneficial_owner'), :beneficial_owner, :bottom))
      %strong= t('.step_1.important')
  %li{ class: submission_step == 'describe-nature-of-control' ? 'active' : '' }
    = t('.step_2.heading')
    %p= t('.step_2.hint.text_html', interests: glossary_tooltip(t('.step_2.hint.interests'), :interest, :bottom))
  %li{ class: submission_step == 'ready-to-submit' ? 'active' : '' }
    = t('.step_3.heading')
    %p= t('.step_3.hint_1.text_html', company: render_haml('%strong= @submission.entity.name'), insert: tooltip(t('.step_3.hint_1.insert'), t('.step_3.hint_1.insert_tooltip'), :bottom))
    %p= t('.step_3.hint_2.text_html')
%hr
.centered
  %p= t('.when_finished')
  %p= button_to t('.submit'), submit_submission_path(@submission), class: 'btn btn-primary btn-lg', disabled: (submission_step != 'ready-to-submit')
