- entity = node.entity
- relationship = node.relationship

- if node.nodes.any?
  .tree-group
    - node.nodes.each do |child_node|
      .tree-link
        = render 'tree_node', node: child_node

.tree-node{ class: tree_node_classes(entity, relationship), "data-node": entity.name }
  - unless entity.natural_person?
    - if entity.relationships_as_target.any?
      = link_to search_submission_entities_path(@submission, source_ids: entity.relationships_as_target.map(&:source_id), target_id: entity.id), class: 'tree-node__insert tree-node__insert--above', data: { toggle: 'tooltip', title: t('.insert_company_above'), placement: 'top' } do
        %span.fa.fa-plus-circle
        %span= t('.insert_company_above')
    - else
      = link_to choose_submission_entities_path(@submission, target_id: entity.id), class: 'tree-node__insert tree-node__insert--above', data: { toggle: 'tooltip', title: t('.add_controlling_entity'), placement: 'top' } do
        %span.fa.fa-plus-circle
        %span= t('.add_controlling_entity')

  .tree-node__content
    .tree-node__content__top
      = link_to_edit_submission_entity(entity, class: 'tree-node__entity') do
        = render partial: "shared/tree_entity", locals: { entity: entity }
      - if relationship.present?
        = button_to submission_entity_path(@submission, entity, relationship_id: relationship.id), method: :delete, class: 'tree-node__remove-button', data: { toggle: 'tooltip', title: t('.remove_entity', entity_name: entity.name) } do
          %span.fa.fa-times-circle
          %span= t('.remove_entity', entity_name: entity.name)
    - if relationship.present?
      .tree-node__relationship
        - if relationship.interests.any?
          %ul.list-unstyled
            - relationship.interests.each do |interest|
              %li= interest
          = link_to t('.edit_interests'), edit_submission_relationship_path(@submission, relationship), class: 'tree-node__edit-interests'
        - else
          = link_to t('.add_interests'), edit_submission_relationship_path(@submission, relationship), class: 'tree-node__add-interests'

  - if relationship.present?
    = link_to choose_submission_entities_path(@submission, target_id: relationship.target.id), class: 'tree-node__add-sibling tree-node__add-sibling--left', data: { toggle: 'tooltip', title: t('.add_sibling_entity'), placement: 'left' } do
      %span.fa.fa-plus-circle
      %span= t('.add_sibling_entity')
    = link_to choose_submission_entities_path(@submission, target_id: relationship.target.id), class: 'tree-node__add-sibling tree-node__add-sibling--right', data: { toggle: 'tooltip', title: t('.add_sibling_entity'), placement: 'right' } do
      %span.fa.fa-plus-circle
      %span= t('.add_sibling_entity')
    = link_to search_submission_entities_path(@submission, source_ids: [entity.id], target_id: relationship.target.id), class: 'tree-node__insert tree-node__insert--below', data: { toggle: 'tooltip', title: t('.insert_company_below'), placement: 'bottom' } do
      %span.fa.fa-plus-circle
      %span= t('.insert_company_below')
