.content.submission-content
  .container-fluid
    .row
      .col-lg-6
        .submission-instructions
          .submission-instructions__header
            %h2= t('.before_you_start.title')
          %p= t('.before_you_start.intro')
          %ol
            %li= t('.before_you_start.item_1')
            %li= t('.before_you_start.item_2')
          %p= t('.before_you_start.consent')
          %hr
          .centered
            %p= button_to t('.start_submission'), submissions_path, class: 'btn btn-primary btn-lg'
      - if @submissions.any?
        .col-lg-6
          .submission-frame
            - if @submissions.draft.any?
              %h2= t('.draft_submissions')
              = render partial: "submissions/submissions/draft_submission", collection: @submissions.draft, as: :submission
            - if @submissions.draft.any? && @submissions.submitted.any?
              %hr
            - if @submissions.submitted.any?
              %h2= t('.submitted_submissions')
              = render partial: "submissions/submissions/submitted_submission", collection: @submissions.submitted, as: :submission
