.tree-wrapper
  .tree-window{ data: { tree: @submission.entity.id, grouped_tooltip: t('.grouped') } }
    .tree-canvas.tree-canvas--show-submission
      .tree-group
        = render 'tree_node', node: @node

  .tree-instructions
    .submission-instructions
      .submission-instructions__header
        %h2
          = t('.heading')
          .submission-entity-link
            = render 'submissions/entities/long_snippet', entity: @submission.entity
      %p= t('.submitted_at', date: @submission.submitted_at)
      %p= link_to t('.back'), submissions_path, class: 'btn btn-primary'

  .tree-controls
    %span.fa.fa-search-minus
    %input.tree-zoom{ type: "range", data: { 'tippy-content' => t('tree.zoom'), 'tippy-placement' => 'bottom' } }
    %span.fa.fa-search-plus

  .tree-help
    .fa.fa-info-circle
    %small= t('tree.help')
