.content.submission-content
  .container-fluid
    .row
      .col-lg-6
        .submission-frame
          %h2= t('.awaiting_approval')
          - if @submissions.reviewable.any?
            = render partial: 'submission', collection: @submissions.reviewable, as: :submission
          - else
            %em= t('.none')

          %hr

          %h2= t('.draft_submissions')
          - if @submissions.draft.any?
            = render partial: 'submission', collection: @submissions.draft, as: :submission
          - else
            %em= t('.none')

      .col-lg-6
        .submission-frame
          %h2= t('.approved_submissions')
          - if @submissions.approved.any?
            = render partial: 'submission', collection: @submissions.approved, as: :submission
          - else
            %em= t('.none')
