- content_for :head do
  = stylesheet_link_tag 'admin'

.tree-wrapper
  .tree-window{ data: { tree: @submission.entity.id, grouped_tooltip: t('.grouped') } }
    .tree-canvas.tree-canvas--show-submission
      .tree-group
        = render 'tree_node', node: @node

  .tree-instructions
    .submission-instructions
      .submission-instructions__header
        %h2
          = t('.heading', name: @submission.user.name)
          .submission-entity-link
            = render 'submissions/entities/long_snippet', entity: @submission.entity

      %p= t('.created_at', date: @submission.created_at)
      %p= t('.changed_at', date: @submission.changed_at)
      - if @submission.submitted?
        %p= t('.submitted_at', date: @submission.submitted_at)
      - if @submission.approved?
        %p= t('.approved_at', date: @submission.approved_at)

      %table.table.table-sm
        - admin_user_attributes(@submission.user).each do |key, value|
          %tr
            %th= key
            %td= value
      %p= link_to t('.back'), admin_submissions_path
      - if @submission.reviewable?
        %p= button_to t('.approve'), approve_admin_submission_path(@submission), method: :post, data: { confirm: t('.confirm') }, class: 'btn btn-primary'

  .tree-controls
    %span.fa.fa-search-minus
    %input.tree-zoom{ type: "range", data: { toggle: 'tooltip', title: t('tree.zoom'), placement: 'bottom' } }
    %span.fa.fa-search-plus

  .tree-help
    .fa.fa-info-circle
    %small= t('tree.help')

.content.submission-content
  .container-fluid
    .row
      .col-lg-6
        = render partial: 'entity', collection: @entities
