!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %title OpenOwnershipRegister
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.site-header
      .container
        = link_to root_path do
          = image_tag('OpenOwnership-Logo.svg')
    .content
      .container
        = yield
    %footer.site-footer
      .container
        .site-footer-container
          %span © OpenOwnership
