!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport" }/
    %title OpenOwnershipRegister
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.site-header
      .container-fluid
        .row
          .col-md-12
            %nav.navbar.navbar-dark
              %button.navbar-toggler.hidden-lg-up{ :type => "button", "data-toggle" => "collapse", "data-target" => "#navbarResponsive", "aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation" }
              .collapse.navbar-toggleable-md#navbarResponsive
                %ul.nav.navbar-nav
                  %li.nav-item
                    = link_to "Search", root_path, class: "nav-link"
                  %span.float-md-right.follow-nav
                    %li.nav-item.follow-label
                      Follow the project on:
                    %li.nav-item
                      %a.nav-link{ href: "http://www.twitter.com/openownership" }
                        %i.fa.fa-twitter
                    %li.nav-item
                      %a.nav-link{ href: "https://medium.com/beneficial-ownership" }
                        %i.fa.fa-medium
            .brand-header
              = link_to root_path do
                = image_tag('OpenOwnership-Logo.svg', class: 'logo')
              %h2.brand-subhead.pull-right The Global Beneficial Ownership Register
    .content
      .container-fluid
        = yield
    %footer.site-footer
      .container-fluid
        .site-footer-container
          %span © OpenOwnership
