!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport" }/
    %title OpenOwnershipRegister
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.site-header
      .container-fluid
        .row
          .col-md-12
            %nav.navbar.navbar-dark
              %button.navbar-toggler.hidden-lg-up{ :type => "button", "data-toggle" => "collapse", "data-target" => "#navbarResponsive", "aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation" }
              .collapse.navbar-toggleable-md#navbarResponsive
                %ul.nav.navbar-nav
                  %li.nav-item
                    = link_to "Home", root_path, class: "nav-link"
                  %span.float-md-right.follow-nav
                    %li.nav-item.follow-label
                      Follow the project on:
                    %li.nav-item
                      %a.nav-link{ href: "http://www.twitter.com/openownership" }
                        %i.fa.fa-twitter
                    %li.nav-item
                      %a.nav-link{ href: "https://medium.com/beneficial-ownership" }
                        %i.fa.fa-medium
            .brand-header
              = link_to root_path do
                = image_tag('OpenOwnership-Logo.svg', class: 'logo')
              %h2.brand-subhead.pull-right The Global Beneficial Ownership Register
    .content
      .container-fluid
        = yield

    .supporters-footer
      .container-fluid
        .supporters
          %h6
            Brought to you by
          .supporters-logos
            %a{ href: "https://www.transparency.org" }
              = image_tag('supporters/transparency-international-logo-bw.png')
            %a.one-logo{ href: "https://www.one.org/international/" }
              = image_tag('supporters/one-logo.png')
            %a{ href: "https://opencorporates.com" }
              = image_tag('supporters/opencorporates-logo-bw.png')
            %a.ocp{ href: "http://www.open-contracting.org" }
              = image_tag('supporters/ocp-logo-bw.png')
            %a.webfoundation{ href: "http://webfoundation.org" }
              = image_tag('supporters/webfoundation-logo-bw.png')
            %a{ href: "https://www.globalwitness.org/en-gb/" }
              = image_tag('supporters/global-witness-logo-bw.png')
            %a.b-team{ href: "http://bteam.org" }
              = image_tag('supporters/the-b-team-logo-bw.png')
        .funders
          %h6
            Funded by
          .funders-logos
            %a{ href: "https://www.gov.uk/government/organisations/department-for-international-development" }
              = image_tag('supporters/uk-aid-logo-bw.png')
