!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport" }/
    %title OpenOwnershipRegister
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %header.site-header{ class: ("site-header-small" unless current_page?(root_path)) }
      .container-fluid
        .row
          .col-md-12
            %nav.navbar.navbar-dark
              %button.navbar-toggler.hidden-lg-up{ :type => "button", "data-toggle" => "collapse", "data-target" => "#navbarResponsive", "aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation" }
                %span Menu
              .collapse.navbar-toggleable-md#navbarResponsive
                %ul.nav.navbar-nav
                  %li.nav-item{ class: ("active" if current_page?(root_path)) }
                    = link_to t(".nav.home"), root_path, class: "nav-link"
                  %li.nav-item
                    %a.nav-link.external{ href: "http://openownership.org/about/", target: "_blank" }
                      = t(".nav.about")
                  %li.nav-item
                    %a.nav-link.external{ href: "http://openownership.org/get-involved/", target: "_blank" }
                      = t(".nav.get_involved")
                  .float-md-right.sign-up-nav
                    - if user_signed_in?
                      %li.nav-item
                        = link_to 'My account', edit_user_registration_path, class: "nav-link"
                      %li.nav-item
                        = link_to 'Sign out', destroy_user_session_path, method: :delete, class: "nav-link"
                    - else
                      %li.nav-item
                        = link_to 'Sign in', new_user_session_path, class: "nav-link"
                      %li.nav-item
                        = link_to 'Sign up', new_user_registration_path, class: "nav-link"
                  %span.float-md-right.follow-nav
                    %li.nav-item.follow-label
                      = t(".nav.follow")
                    %li.nav-item
                      %a.nav-link{ href: "http://www.twitter.com/openownership" }
                        %i.fa.fa-twitter
                    %li.nav-item
                      %a.nav-link{ href: "https://medium.com/beneficial-ownership" }
                        %i.fa.fa-medium
            .brand-header
              = link_to root_path do
                = image_tag('OpenOwnership-Logo-Beta.svg', class: 'logo')
            = render partial: 'shared/search_bar'

    .container-fluid
      - if notice.present?
        %p.alert.alert-info= notice
      - if alert.present?
        %p.alert.alert-danger= alert

    = yield

    .supporters-footer
      .container-fluid
        .supporters
          .supporters-header
            %h5
              = t(".footer.brought_by")
          %a.transparency-logo{ href: "https://www.transparency.org" }
          %a.one-logo{ href: "https://www.one.org/international/" }
          %a.opencorporates-logo{ href: "https://opencorporates.com" }
          %a.ocp{ href: "http://www.open-contracting.org" }
          %a.webfoundation{ href: "http://webfoundation.org" }
          %a.global-witness-logo{ href: "https://www.globalwitness.org/en-gb/" }
          %a.b-team{ href: "http://bteam.org" }
          .funders-header
            %h5
              = t(".footer.funded_by")
          %a.uk-aid-logo{ href: "https://www.gov.uk/government/organisations/department-for-international-development" }
